doctype html
html
	head
		title= title
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')

		script(src='https://code.jquery.com/jquery-2.1.4.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
		script(src='/javascripts/canvasjs.min.js')
	body
		div.container
			block content

	script(src='/javascripts/bundle.js')

